.container {
  padding: 0 2rem;
}
.markdown{
  h1{
    font-size:1.5em;
  }
  line-height: 1.5em;
}
.markdownPage{ 
  font-size:larger; 
  p{
  padding-bottom:10px;
  }
  
  em{ 
  }
  h1{
  font-size: 2em;
  &:first-letter{
    font-size: 2.9rem;
  }
  }
  h2{
  font-size: 1.4em;
  }
  h3{
  font-size: 1.2em;
  font-weight:300;
  }
  h4{
  font-size:1.2em;
  font-weight:100;
  }
  blockquote{
  margin:16px; 
  color: #cfa093;
  }
  
  img{
  max-width: 5in; 
  }
}
.pageContainer {
  display:flex;
  width: 100%;
  justify-content: center;
  &> h1{ 
    width:30%;
  }
}


